{#
/**
 * @file heartbeat-stream.html.twig
 * Default theme implementation to present Heartbeat stream data.
 *
 * This template is used when viewing Heartbeat stream pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_heartbeat_stream()
 *
 * @ingroup themeable
 */
#}
<div class="heartbeat-stream">
  {% if content %}
    {{- content -}}
  {% endif %}
  {% autoescape false %}
  {% for message in messages %}
    <div{{ attributes.addClass('heartbeat-message') }} id="heartbeat-{{ message.id }}">
      {#{{ message }}#}
      <div class="heartbeat-message-wrap">
        <div class="heartbeat-owner">
          <a href="/user/{{ message.userId }}"><img src="{{ message.userPicture }}" /></a>
          {{ message.user }}
          <div class="time-ago">{{ message.timeAgo }} ago</div>
        </div>
        <div class="heartbeat-content">
        {{ message.heartbeat }}
        </div>
      </div>
      <div class="heartbeat-interaction-wrap">
        <div class="heartbeat-like">
          {{ message.likeFlag }}
        </div>
        <div class="heartbeat-unlike">
          {{ message.unlikeFlag }}
        </div>
        <div class="heartbeat-comment" id="comment-{{ message.id }}">
          {{ message.commentForm }}
          <div class="heartbeat-comments">
            {% for comment in message.comments %}
              <div id="heartbeat-comment-{{ comment.id }}">
            {{ comment.body }} <br>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% endautoescape %}
</div>
